@use "../abstract/variables" as *;

.card {
    
    height: 80rem;
    padding: none;
    position: relative;
    perspective: 150rem;
    background-color: $color-light-grey-1;
    border: none;
  
    
    

    &-side {
        overflow: hidden; 
        
        border-radius: 10px; /* Köşeleri yuvarlar */
        box-shadow: 0 1px 4px 4px rgba($color-black, $alpha: 0.4);
        position: absolute;
        height: 70rem;
        width: 100%;
        backface-visibility: hidden;
        transition: all 2s ease;
        &-front {
            background: linear-gradient(to bottom,$color-insta-dark-purple,$color-insta-live-pink );
        }
        

        &-back {
            
            transform: rotateY(180deg);
            background: linear-gradient(to bottom,$color-insta-dark-purple,$color-insta-live-pink );
        }
    }

    &:hover &-side-front {
        transform: rotateY(-180deg);
    }

    &:hover &-side-back {
        transform: rotateY(0deg);
    }

    &-heading{
        margin: 0; /* Dış boşluğu sıfırla */
        padding: 0;
        overflow: hidden;
        text-align: center;
        background-color: $color-image-golden;
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
    &-picture {
        background-size: cover;
        background-position: center;
        
        width: 100%; /* Kartın genişliğine sığdır */
        height: 45rem; /* Sabit bir yükseklik belirle */
        object-fit: cover;
        &-1{
            background-image: url("/ucuztakipci/assets/images/50takip.png");
            


        }
        &-2{
            background-image: url("/ucuztakipci/assets/images/100takip.png");
            

        }
        &-3{
            background-image: url("/ucuztakipci/assets/images/200takip.png");
            

        }

    }
}

ul.card-list {
    list-style-type: none; /* Liste işaretlerini kaldır */
    padding: 1rem; /* Padding'i sıfırla */
    margin: 0; /* Margin'i sıfırla */
    height: 100%; /* ul'nin yüksekliğini tam olarak kullan */

    li {
        text-align: center; /* Metni ortala */
        margin:0;
        padding: 1rem; /* li elemanları arasına boşluk ekle */
        font-size: 1.6rem; /* Yazı boyutunu ayarla */
        color: $color-black; /* Yazı rengini ayarla */
    }

    a {
        text-align: center; /* Metni ortala */
        text-decoration: none; /* Linklerin alt çizgisini kaldır */
        color: inherit; /* Link rengini miras al */
        font-size: 1.6rem; /* Yazı boyutunu ayarla */
    }
}

ul.card-list-back{
    list-style-type: none; /* Liste işaretlerini kaldır */
    padding: 2rem; /* Padding'i sıfırla */
    margin: 0; /* Margin'i sıfırla */
    height: 100%; /* ul'nin yüksekliğini tam olarak kullan */

    li {
        color: $color-black;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; /*
        margin: auto;
        text-align: center; /* Metni ortala */
        margin:0;
        padding: 5px; /* li elemanları arasına boşluk ekle */
        font-size: 3rem; /* Yazı boyutunu ayarla */
        
    }
}