@use "../abstract/variables" as *;

.composition {
    position: relative;
    &-photo {
        border-radius: 20px;
        position: absolute;
        width: 60%;
        outline-offset: 1rem;
        transition: all 0.4s;
        &-1 {
            left: 0;
            top: 0;
            z-index: 1;
        }

        &-2 {
            right: 0;
            top: 8rem;
            z-index: 2;
        }

        &-3 {
            left: 10rem;
            top: 20rem;
            z-index: 3;
        }

        &:hover {
            outline: 1.5rem solid $color-live-green;
            z-index: 10;
            transform: scale(1.2);
        }
    }
}
