@use '../abstract/variables' as *;
.header {
    position: relative;
    width: 100%;
    height: 95vh;
    background: linear-gradient(to bottom, $color-insta-orange, $color-insta-pink);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    background-position: 0 13%;
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.logo {
    height: 10rem;
    width: auto;
    cursor: pointer;
}

.text-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
